@font-face {
  font-family: "Norse Bold";
  src: url("./assets/fonts/Norsebold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Norse Bold", sans-serif;
}

.page {
  display: flex;
  min-height: 100vh;
}

.image-sidebar {
  width: 35%;
  background-color: #596d48;
}

.content {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.form-section,
.account-section {
  padding: 2rem;
}

.introduction {
  min-height: 35vh;
  display: flex;
  align-items: flex-end;
  
  padding: 3rem;
  background-color: #f9fafb;
}

.intro-text {
  max-width: 750px;

  font-size: 1.35 rem;
  font-weight: bold;
  line-height: 1.3;
}

.intro-text p {
  margin: 0;
}

.intro-text p + p {
  margin-top: 1.5rem;
}

.intro-text em {
  font-style: italic;
}

.form-section {
  padding: 1.5rem 3rem 2rem;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 15%);
  z-index: 1;
}

.form-section h1{
  margin: 0 0 1.5rem;
  font-size: 1.4rem;
}

#signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-row {
  display: flex;
  gap: 4rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.form-control label {
  margin-bottom: 0.25rem;

  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.form-control input {
  height: 2rem;
  padding: 0.25rem 0.5rem;

  font-size: 1rem;

  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.account-section {
  flex: 1;
  padding: 2rem 3rem;
  background-color: #f9fafb;    
}

.image-sidebar {
  position: relative;
  width: 35%;
  min-height: 100vh;

  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-banner {
  position: absolute;
  top: 20%;

  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0 0 0 / 50%);
}

.odin-logo {
  height: 125px;
  width: auto;
}

.logo-text {
  color: white;
  font-family: "Norse Bold", sans-serif;
  font-size: 6rem;
  line-height: 1;
}

.image-credit {
  position: absolute;
  bottom: 12px;

  width: 100%;
  margin: 0;

  color: white;
  font-size: 0.8rem;
  text-align: center;
}

.image-credit a {
  color: white;
}



